:root {
    --avatar-primary: #502C70;
    --avatar-bg: #fff;
    --avatar-gray: gray;
}

.avatar-upload {
    background-color: var(--avatar-bg);
    margin: 0 auto;
    padding: 20px;
    color: black;
}


.avatar-upload__preview {
    display: none;
    text-align: center;
    background: var(--avatar-bg);
}

.avatar-upload__input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.avatar-upload__wrap {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50%;
    border: 1px dashed var(--avatar-gray);
    position: relative;
    overflow: hidden;
}

.avatar-upload__wrap:hover {
    border-color: var(--avatar-primary);
}


.avatar-title__wrap {
    padding: 0 15px 15px 15px;
}

.upload-text {
    display: inline-block;
    position: absolute;
    padding-left: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}

.upload-text img {
    position: absolute;
    top: 0;
    left: 0;
}

.avatar-upload__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar-upload__controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.avatar-upload #avatar-remove {
    display: none;
}


.has-avatar .avatar-upload__preview,
.has-avatar #avatar-remove {
    display: block !important;
}

.has-avatar .avatar-upload__wrap {
    border-style: solid;
    border-color: var(--avatar-gray) !important;
}

.avatar-upload.uploaded #avatar-load {
    display: none !important;
}


.loading {
    pointer-events: none !important;
}

.modal-footer #crop {
    position: relative;
}

.loading .avatar-loader {
    display: block;
}

/**
 LOADER
 */
.avatar-loader {
    display: none;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-bottom-color: var(--avatar-primary);
    border-radius: 50%;
    animation: rotation 1s linear infinite;

    position: absolute;
    z-index: 100;
    top: 15px;
    right: 20px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}


.modal-cropper {
    max-width: 1024px;
    width: 100%;
}


.modal-cropper h3 {
    margin-top: 0;
}

.modal-cropper .img-crop-wrapper {
    max-height: 60vh;
}

.modal-cropper .modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 420px;
    margin-top: 15px;
}

@media screen and (max-width: 767px ) {
    .modal-cropper {
        padding: 20px;
    }

    .modal-cropper .modal-footer .button {
        width: calc(50% - 5px);
        flex: 0 0 calc(50% - 5px);
        margin-top: 15px;
        min-width: auto;
    }
}


@media screen and (min-width: 768px ) {

}