/**
  Style Admin
  @enqueue: backend
 */

@import "common/vars";

:root {
  --wp-admin-theme-color: #502c70;
  --wp-admin-theme-color-darker-10: #442163;
  --wp-admin-theme-color-darker-20: #3c1a5c;
}
